<!-- templates/rentas/agreementDetails.html -->
<div th:fragment="modalContent">
    <div>
        <p><strong>Acuerdo Número:</strong> <span th:text="'AGCODR#' + ${agreement.id}"></span></p>

        <p><strong>Fecha del Acuerdo:</strong> <span th:text="${agreement.agreementDate}"></span></p>
        <p><strong>Información Adicional:</strong> <span th:text="${agreement.aditionalInformation}"></span></p>
        <p><strong>Estado:</strong> <span th:text="${agreement.status == 1 ? 'Activo' : 'Inactivo'}"></span></p>
    </div>
</div>
