<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 2 Inmobiliaria</title>
    <link rel="stylesheet" href="../StylesViews/StyleLogin.css">
</head>
<body>
<video autoplay loop muted playsinline class="background-video">
    <source src="../path/to/bg2.mp4" type="video/mp4">
</video>
<div class="wrapper ui-menu-item-wrapper">
    <h2>Login</h2>
    <form>
        <div class="input-field">
            <input type="text" id="email" required>
            <label for="email">Introduce tu Email</label>
        </div>
        <div class="input-field">
            <input type="password" id="password" required>
            <label for="password">Introduce tu contraseña</label>
        </div>
        <div class="forget">
            <label for="remember">
                <input type="checkbox" id="remember">
                <p>Recordarme</p>
            </label>
            <a href="#">¿Olvidó su contraseña?</a>
        </div>
        <button type="submit">Entrar</button>
        <div class="register">
            <p>¿No posee cuenta? <a href="#">Registrarse</a></p>
        </div>
    </form>
</div>
</body>
</html>
