<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Principal Proyecto Inmobiliaria</title>
    <link rel="stylesheet" href="../StylesViews/StylePrincipalView.css">
</head>
<body>
    <aside class="sidebar">\
        <div class="logo">
            <img src="logoInmobiliaria.png" alt="logo">
            <h2>Sistema de Inmobiliaria</h2>
        </div>
        <ul class="links">
            <h4>Menu Principal
                <li>
                    <span class="material-symbols-outlined">Dashboard</span>
                    <a href="#">Provincia</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">Dashboard</span>
                    <a href="#">Canton</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">Dashboard</span>
                    <a href="#">Distrito</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">Dashboard</span>
                    <a href="#">Dirección</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">Dashboard</span>
                    <a href="#">Teléfono</a>
                </li>
                <li>
                    <span class="material-symbols-outlined">Dashboard</span>
                    <a href="#">Correo Electrónico</a>
                </li>
            </h4>
        </ul>
    </aside>

</body>
</html>
