<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Rol</title>
    <script src="text/javascript" th:src="@{/js/alertScript.js}"></script>
    <script src="text/javascript" th:src="@{/js/roleScript.js}"></script>
</head>
<body>
<div th:if="${role == null}">
    <h2>Crear Rol</h2>
    <form th:action="@{/roles/registrarRole}" method="post" id="form-crear">
        <label for="roleName">Nombre del Rol:</label>
        <input type="text" id="roleName" name="roleName">
        <br><br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="2">--Seleccionar--</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
        <br><br>
        <button type="submit">Crear</button>
        <button type="button" onclick="ocultarFomr()">Cancelar</button>
    </form>
    <div>
        <p id="texto_error" style="color: red;"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            validarCreacionRol('.form-crear', '¿Estas seguro de continuar con la creación de este rol?', './listarRoles')
        });
    </script>
</div>
<div th:if="${role != null}">
    <h2>Editar Rol</h2>
    <form class="editForm" th:action="@{/roles/actualizarRole}" method="post">
        <input type="hidden" id="id" name="id" th:value="${role.id}">

        <label for="roleName">Nombre del Rol:</label>
        <input type="text" id="roleName" name="roleName" th:value="${role.roleName}" required>
        <br><br>
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="1" th:selected="${role.status == 1}">Activo</option>
            <option value="0" th:selected="${role.status == 0}">Inactivo</option>
        </select>
        <br><br>
        <button type="submit" onclick="editarRole()">Actualizar</button>
        <button type="button" onclick="ocultarFomr()">Cancelar</button>
    </form>
</div>
</body>
</html>
<br><br>
