<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrar Roles</title>
    <!-- Incluye tus hojas de estilo y scripts aquí -->
</head>
<body>
<div th:if="${!roles.empty}" class="tb-container">
    <table class="contenedor-productos table table-striped table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Status</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:text="${role.roleName}"></td>
            <td th:text="${role.status == 1 ? 'Activo' : 'Inactivo'}"></td>
            <td>
                <button type="button" class="producto-editar btn_editar" th:value="${role.id}"><i class="bi bi-pen"></i></button>
                <br>
                -----
                <br>
                <button class="btn_delete producto-eliminar">
                    <a class="btn_eliminar" th:href="@{/roles/eliminarRole(role=${role.id})}"><i class="bi bi-trash"></i></a>
                </button>
                <br>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${roles.empty}">
    <p>No se encontraron registros para mostrar.</p>
</div>
</body>
</html>
