<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrar Roles</title>
    <!-- Incluye tus hojas de estilo y scripts aquí -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js"></script>
    <script src="https://kit.fontawesome.com/51553d23ad.js" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <button class="btn_desplegarForm" value="0">Crear nuevo rol</button>
    <br><br>
    <div id="form_conainer">

    </div>
</div>
<div th:if="${!roles.empty}" class="tb-container">
    <table border="1" class="contenedor-productos table table-striped table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Status</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:text="${role.roleName}"></td>
            <td th:text="${role.status == 1 ? 'Activo' : 'Inactivo'}"></td>
            <td>
                <button type="button" class="producto-editar btn_desplegarForm" th:value="${role.id}"><i class="bi bi-pen"></i></button>
                <br>
                -----
                <br>
                <button class="btn_delete producto-eliminar">
                    <a class="btn_eliminar" th:href="@{/roles/eliminarRole(role=${role.id})}"><i class="bi bi-trash"></i></a>
                </button>
                <br>
            </td>
        </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="text/javascript" th:src="@{/js/alertScript.js}"></script>
    <script src="text/javascript" th:src="@{/js/roleScript.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            validarEliminacion('.btn_delete', './listarRoles'),
                desplegarForm()
                //detallesProveedor()
        });
    </script>
</div>
<div th:if="${roles.empty}">
    <p>No se encontraron registros para mostrar.</p>
</div>
</body>
</html>
