<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Provincia</title>
    <script src="text/javascript" th:src="@{/js/alertScript.js}"></script>
    <script src="text/javascript" th:src="@{/js/provinceScript.js}"></script>
</head>
<body>
<div th:if="${province == null}">
    <h2>Crear Provincia</h2>
    <form th:action="@{/provinces/registrarProvince}" method="post" id="form-crear">
        <label for="provinceName">Nombre de la Provincia:</label>
        <input type="text" id="provinceName" name="provinceName">
        <br><br>
        <label for="status">Estado:</label>
        <select id="status" name="status">
            <option value="2">--Seleccionar--</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
        <br><br>
        <button type="submit">Crear</button>
        <button type="button" onclick="ocultarFormProvince()">Cancelar</button>
    </form>
    <div>
        <p id="texto_error" style="color: red;"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            validarCreacionProvince('#form-crear', '¿Estás seguro de continuar con la creación de esta provincia?', './listarProvincias');
        });
    </script>
</div>
<div th:if="${province != null}">
    <h2>Editar Provincia</h2>
    <form class="editForm" th:action="@{/provinces/actualizarProvince}" method="post">
        <input type="hidden" id="id" name="id" th:value="${province.id}">

        <label for="provinceName">Nombre de la Provincia:</label>
        <input type="text" id="provinceName" name="provinceName" th:value="${province.provinceName}" required>
        <br><br>
        <label for="status">Estado:</label>
        <select id="status" name="status" required>
            <option value="1" th:selected="${province.status == 1}">Activo</option>
            <option value="0" th:selected="${province.status == 0}">Inactivo</option>
        </select>
        <br><br>
        <button type="submit" onclick="editarProvince()">Actualizar</button>
        <button type="button" onclick="ocultarFormProvince()">Cancelar</button>
    </form>
</div>
</body>
</html>
