<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrar Provincias</title>
    <!-- Incluye tus hojas de estilo y scripts aquí -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js"></script>
    <script src="https://kit.fontawesome.com/51553d23ad.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:if="${!provinces.empty}" class="tb-container">
    <table border="1" class="contenedor-productos table table-striped table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Status</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="province : ${provinces}">
            <td th:text="${province.name}"></td>
            <td th:text="${province.status == 1 ? 'Activo' : 'Inactivo'}"></td>
            <td>
                <button type="button" class="producto-editar btn_editar" th:value="${province.id}"><i class="bi bi-pen"></i></button>
                <br>
                -----
                <br>
                <button class="btn_delete producto-eliminar">
                    <a class="btn_eliminar" th:href="@{/provinces/eliminarProvince(id=${province.id})}"><i class="bi bi-trash"></i></a>
                </button>
                <br>
            </td>
        </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="text/javascript" th:src="@{/js/alertScript.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            validarEliminacion('.btn_delete', './listarProvinces')
            //detallesProveedor()
        });
    </script>
</div>
<div th:if="${provinces.empty}">
    <p>No se encontraron registros para mostrar.</p>
</div>
</body>
</html>
