<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Administrar Agentes Inmobiliarios</title>
    <!-- Incluye tus hojas de estilo y scripts aquí -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js"></script>
    <script src="https://kit.fontawesome.com/51553d23ad.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Administrar Agentes Inmobiliarios</a>
        <button class="navbar-toggler btn_desplegarForm" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Agentes Inmobiliarios</h2>
        <button class="btn btn-primary btn_desplegarForm" value="0">Crear nuevo agente</button>
    </div>
    <div id="form_container" class="mb-3"></div>
    <div th:if="${!agents.empty}">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>ID Card</th>
                <th>Número de Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Nombre de Usuario</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="agent : ${agents}">
                <td th:text="${agent[6]}"></td>
                <td th:text="${agent[7]}"></td>
                <td th:text="${agent[8]}"></td>
                <td th:text="${agent[9]}"></td>
                <td th:text="${agent[11]}"></td>
                <td th:text="${agent[12]}"></td>
                <td th:text="${agent[3]}"></td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm btn_desplegarForm" th:value="${agent[0]}">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button class="btn btn-danger btn-sm btn_delete">
                        <a class="btn_eliminar text-white" th:href="@{/agents/eliminarAgente(agent=${agent[0]})}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${agents.empty}" class="alert alert-warning">
        <p>No se encontraron registros para mostrar.</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
<script src="text/javascript" th:src="@{/js/agentScript.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        validarEliminacion('.btn_delete', './listarAgentes');
        desplegarForm();
    });
</script>
</body>

</html>
