<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
</head>
<body>
<nav>
    <ul class="menu">
        <li><button id="todos" class="boton-menu boton-categoria active">Inicio</button></li>
        <li><button id="roles" class="boton-menu boton-categoria" onclick= "window.location.href = '/roles/listarRoles'" >Administrar Roles</button></li>
        <li><button id="provinces" class="boton-menu boton-categoria" onclick= "window.location.href = '/provinces/listarProvinces'" >Administrar Provincias</button></li>
        <li><button id="disctrict" class="boton-menu boton-categoria" onclick= "window.location.href = '/district/listarDistrict'" >Administrar Distritos</button></li>
    </ul>
</nav>
</body>
</html>